.container{
    background-color: rgb(16, 122, 235);
    padding:10px;

}

  .card {
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    
  }
  
  .card:hover {
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
  }
  
  .card-title {
    font-size: 1.2rem;
  }
  
  .card-price {
    font-size: 2rem;
    font-weight: bold;
    color:black;
  }
 
  
 

 
  